numpy>=1.23.0
opencv-contrib-python-headless>=4.6.0.66
six>=1.16.0
imageio>=2.22.0
gevent>=21.12.0  # Adjusted to a compatible version
imutils>=0.5.4
configobj>=5.0.6
scipy>=1.9.1
pyclipper>=1.2.1
PySide6>=6.3.2
pyqtgraph>=0.12.4
PyOpenGL>=3.1.6
biplist>=1.0.3

Kivy==2.2.1
Kivy-examples==2.2.1
Kivy-Garden==0.1.5
