numpy==1.17.3
opencv-contrib-python-headless==4.4.0.46
six==1.12.0
imageio==2.5.0
gevent==1.4.0
imutils==0.5.3
pyserial==3.4
configobj==5.0.6
scipy==1.6.0
click==7.1.2
pyclipper==1.2.1
PySide2==5.15.2
pyqtgraph==0.11.1
PyOpenGL==3.1.5
PyOpenGL-accelerate==3.1.5
pyinstaller==4.2
dmgbuild==1.4.2
biplist==1.0.3