numpy==1.20.0
opencv-contrib-python-headless==4.5.1.48
six==1.15.0
imageio==2.9.0
gevent==21.1.2
imutils==0.5.4
pyserial==3.5
configobj==5.0.6
scipy==1.6.0
pyclipper==1.2.1
PySide2==5.15.2
pyqtgraph==0.11.1
PyOpenGL==3.1.5
PyOpenGL-accelerate==3.1.5
pyinstaller==4.2
dmgbuild==1.4.2
biplist==1.0.3
