<html>
<head>
    <link rel="stylesheet" href='./static/css/main.css' />
    <link rel="stylesheet" href='./static/css/pure.css' />
</head>
<body>
<div class="screen">
    <div class="filter">
        <img id="input" width="203" src="./image/0">
        <img id="input" width="203" src="./image/1">
        <img id="input" width="203" src="./image/2">
        <img id="input" width="203" src="./image/3">
        <img id="input" width="203" src="./image/4">
        <img id="input" width="203" src="./image/5">
        <img id="input" width="203" src="./image/6">
    </div>
    <div class="preview">
        <img id="output" width="203" src="">
    </div>
</div>
</body>
<script src="./static/js/index.js"></script>
</html>