body {
    padding:0;
    margin:0;
    overflow: hidden;
}

.screen{
    position:absolute;
    left:0;
    top:0;
    bottom:0;
    right:0;
    padding:20px;
}

#pipeline-container{
    overflow-y: scroll;
    position: absolute;
    bottom: 20px;
    top: 100px;
    left: 20px;
    right: 20px;
}

.pipeline {
    margin-bottom:20px;
    position:relative;
}


.pipeline > .name {

}

.pipeline > .description {
    color:grey;
    font-size:0.8em;
}
.pipeline > button {
    padding: 10px;
    width: 40px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.screen hr{
    width:100%;
}
