body {
    color: red;
    padding:0;
    margin:0;
}


.screen{
    position:absolute;
    border:1px solid black;
    width: 100%;
    height: 100%;
}

.filter{
    position: absolute;
    left:0;
    top:0;
    border:1px solid green;
    height:100%;
    width:50%;
    overflow:scroll;
}

.preview{
    position: absolute;
    left:50%;
    top:0;
    border:1px solid red;
    height:100%;
    width:50%;
}